@font-face {
    font-family: "Thin";
    src: url("../fonts/Titillium-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Light";
    src: url("../fonts/Titillium-Light.otf") format("opentype");
}

@font-face {
    font-family: "Regular";
    src: url("../fonts/Titillium-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Semibold";
    src: url("../fonts/Titillium-Semibold.otf") format("opentype");
}

body {
    margin: 0;
    /* background-color: #f0f5f8; */
    font-family: "Light", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333;
}

/** Fonts **/

.font-thin { font-family: "Thin" }
.font-light { font-family: "Light" }
.font-regular { font-family: "Regular" }
.font-semibold { font-family: "Semibold" }

.winrock-blue { color: #0d66a4 !important; }

/** Layout **/

#wrapper {
    padding: 20px 30px;
    min-width: 1000px;    
    border-top: 5px solid #0d66a4;
}

#header {
    margin: -20px -30px 20px;
    padding: 20px 30px 10px;
    background: #d9e5ee;
    height: 60px;
    clear: both;
}

#header .title {
    float: left;
    font-family: "Semibold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    cursor: default;
}

#header .subtitle {
    float: left;
    font-family: "Thin", Helvetica, Arial, sans-serif;
    font-size: 40px;
    cursor: default;
}

#header img.logo {
    margin-right: 12px;
    float: left;
    position: relative;
    top: -7px;
    left: -2px;
}

#navigation {
    margin: 5px 0 0 50px;
    padding: 0;
    list-style: none;
    float: left;
}

#navigation li {
    padding: 0;
    list-style: none;
    display: inline;
    font-size: 20px;
}

#navigation li a,
#navigation li a:visited {
    margin: 3px 5px;
    padding: 6px 15px 4px;
    color: #111;
    text-decoration: none;
    display: inline-block;
    -moz-border-radius: 5px;
    border-radius: 5px;    
}

#navigation li a:hover {
    background-color: #e6f0f8;
}

#indicators {
    margin: 0;
    padding: 0;
    list-style: none;
}

#indicators li {}

#indicators li a,
#indicators li a:visited {
    margin: 0 0 10px;
    padding: 0;
    width: 300px;
    height: 35px;
    list-style: none;
    border: 1px solid #111;
    clear: both;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#indicators li a:hover {
    height: inherit;
}

.indicator-number,
#indicators li a .indicator-number,
#indicators li a:visited .indicator-number {
    margin: 5px 0 5px 5px;
    padding: 6px 0 4px;
    width: 35px;
    float: left;
    background-color: #111;
    text-align: center;
    font-family: "Semibold";
    font-size: 12px;
    color: #fff;
    display: inline-block;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}

#indicators li a .indicator-title,
#indicators li a:visited .indicator-title {
    margin: 0;
    padding: 5px 10px 5px 10px;
    width: 240px;
    display: inline-block;
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 15px;
    line-height: 25px;
    color: #111;
}

#full .indicator-number {
    display: inline-block;
    float: none;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    position: relative;
    top: -3px;
    width: 45px;
}

#content {}

#left {
    margin-right: 30px;
    width: 300px;
    float: left;
}

#left .title,
#right .title,
#full .title {
    margin: 0 0 10px;
    font-family: "Semibold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
}
#full .title {
    display: inline;
    font-size: 26px;
}

#left .title img.icon,
#full .title img.icon {
    height: 30px;
    position: relative;
    top: 7px;
    margin-right: 5px;
}

#right {
    margin-left: 10px;
    display: inline-block;
    white-space: nowrap;
}

.red .title { color: #c73719; }
.green .title { color: #54ae16; }
.purple .title { color: #4b15a4; }

.red #indicators li a,
.red #indicators li a:visited {
    background-color: #f6e5e1;
    border-color: #c73719;
}
.red .indicator-number,
.red #indicators li a .indicator-number,
.red #indicators li a:visited .indicator-number { background-color: #c73719; }

.green #indicators li a,
.green #indicators li a:visited {
    background-color: #e7f3df;
    border-color: #54ae16;
}
.green .indicator-number,
.green #indicators li a .indicator-number,
.green #indicators li a:visited .indicator-number { background-color: #54ae16; }

.purple #indicators li a,
.purple #indicators li a:visited {
    background-color: #e5def2;
    border-color: #4b15a4;
}
.purple .indicator-number,
.purple #indicators li a .indicator-number,
.purple #indicators li a:visited .indicator-number { background-color: #4b15a4; }


table.results {
    display: inline-block;
    border-spacing: 5px;
    border-collapse: separate;
    font-family: Georgia, "Times New Roman", Times, serif;
}

table.results td {
    padding: 10px;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;
}

table.results td {
    padding-left: 30px;
}

table.results td.blank {
    border-color: transparent;
    background-color: transparent;
}

table.results td.field {
    padding-left: 20px;
    border-color: #eee;
    background-color: #f5f5f5;
    text-align: right;
    font-family: "Semibold", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

table.results td.year {
    padding: 15px 10px; 
    width: 160px;
    border-color: #333;
    background-color: #333;
    color: #fff;
    font-family: "Semibold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

table.results td.month {
    width: 80px;
    border-color: #777;
    background-color: #777;
    color: #fff;
    font-family: "Semibold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

table.results td.result {
    width: 80px;
}

input[type=text],
input[type=password] {
    margin: 5px 0;
    padding: 5px;
    width: 300px;
    border: 1px solid #333;
    font-family: "Light", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #444;
}

input[type=submit] {
    margin: 5px 0;
    padding: 5px 20px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    border: none;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #0d66a4;
    font-family: "Semibold", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

input[type=submit]:hover { background-color: #064978; }



